<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366509567385-djjofc5lnevf782jus326tutj9b53hmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366509567385-djjofc5lnevf782jus326tutj9b53hmu</string>
	<key>API_KEY</key>
	<string>AIzaSyArbINdOY13wV7nqiQ2i_OMlRsKmHbySws</string>
	<key>GCM_SENDER_ID</key>
	<string>366509567385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>loginflutter-f0b84</string>
	<key>STORAGE_BUCKET</key>
	<string>loginflutter-f0b84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366509567385:ios:56f64fe1a03ad75d06f708</string>
</dict>
</plist>